@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Lekton:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Antonio:wght@100&family=Montserrat:wght@100&family=Red+Hat+Display&family=Roboto+Mono:ital,wght@0,100;1,100&display=swap");
/* 
font-family: 'Jost', sans-serif;
font-family: 'Lekton', sans-serif; 
font-family: 'Roboto Mono', monospace;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Antonio', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: "Teko", sans-serif;
font-family: 'Bebas Neue', cursive;

*/

*,
body,
html {
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	background: url("images/haha.png") no-repeat top center;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: scroll;
	&.inactive {
		overflow: hidden;
	}
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #000000;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb {
	background-color: #494949;
}

.background {
	position: absolute;
	height: 100vh;
	width: 100%;
	background: #000000;
	opacity: 0.94;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 10;

	h1 {
		font-family: "Teko", sans-serif;
		font-size: 15em;
		color: #dd9700;
		cursor: default;
		line-height: 110px;
		letter-spacing: 0.06em;
		-ms-transform: skewY(-2deg) !important;
		transform: skewY(-2deg) !important;
		font-style: italic;
		opacity: 1;
		transition: all 0.5s ease;
		transition-delay: 1.2s;
		&.active {
			opacity: 0;
		}
	}
}

.bg-1,
.bg-2 {
	position: absolute;
	z-index: 7;
	height: 100vh;
	width: 100%;
	background: #000000;
	transition: all 1s ease;
	transition-delay: 1.3s;
}
.bg-1 {
	bottom: 50%;
	&.active {
		bottom: 100%;
	}
	&.finished {
		transition-delay: 0s;
		background: transparent;
		display: none;
	}
}
.bg-2 {
	top: 50%;
	&.active {
		top: 100%;
	}
	&.finished {
		display: none;
	}
}

.header_logo {
	height: 12%;
	position: fixed;
	top: 0;
	left: 3%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 999;
}

.header_logo img {
	cursor: default;
	height: 100%;
	width: 8em;
	color: #fb2274;
	-webkit-transition: 0.6s;
	transition: 0.6s;
}

.main-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 2.8%;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	&.finished {
		z-index: 900;
	}
	.container-1 {
		height: 100vh;
		width: 95%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		margin-right: 90px;
		.header-opt {
			position: fixed;
			width: 100%;
			top: 0;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			list-style: none;
			height: 80px;
			margin-left: 80px;
			z-index: 999;
			li {
				text-align: center;
				margin-right: 40px;
				a {
					text-align: center;
					font-family: "Antonio", sans-serif;
					text-transform: uppercase;
					font-size: 1.3em;
					color: #ffffff;
					text-decoration: none;
					transition: color 0.2s;
					&:hover {
						color: #ffc400;
					}
				}
			}
		}
	}

	.container-2 {
		position: absolute;
		height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		background: transparent;
		top: 0;
		.contain {
			width: 60%;
			margin: 50px auto;
			display: flex;
			gap: 1.8em;
			.block {
				height: 400px;
				width: 24.5%;
				margin-right: 0.5%;
				float: left;
				background-position: center center;
				background-size: cover;
			}

			.leagueOlego {
				background-image: url("images/lolbg.jpg");
			}

			.wildrift {
				background-image: url("images/lolwrbg.jpg");
				background-position: 36% 100%;
			}

			.valo {
				background-image: url("images/valobg.jpg");
			}

			.emel {
				/* lol */
				background-image: url("images/mlbg.jpg");
				background-position: 10% 100%;
			}

			.backfade {
				position: relative;
				overflow: hidden;
				&:before {
					content: "";
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					height: 100%;
					width: 100%;
					opacity: 0.8;
					transition: all 0.5s ease;
					transform: translateZ(0);
				}
				&.orange:before {
					background: #eeb02b80;
				}

				&.blue:before {
					background: #2b86ee80;
				}

				&.green:before {
					background: #ee522b80;
				}

				&.purple:before {
					background: #b02bee80;
				}

				&:hover:before {
					opacity: 0;
					height: 0;
				}
				.logo {
					position: absolute;
					bottom: -60px;
					z-index: 1;
					width: 100%;
					line-height: 50px;
					height: 60px;
					background: #0e0e0e;
					color: #f4f4f4;
					margin: 0;
					padding: 0;
					font-family: "Bebas Neue", cursive;
					letter-spacing: 0.2em;
					transition: all 0.5s ease;
					transform: translateZ(0);
					display: flex;
					justify-content: center;
					align-items: center;
					.lolers {
						height: 30px;
					}
					.rifters {
						height: 40px;
					}
					.valoers {
						height: 35px;
					}
					.emelers {
						height: 30px;
					}
				}
				&:hover .logo {
					bottom: 80px;
				}
			}
		}
	}
	.container-3 {
		height: 13vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		background: #2b2b2b;
		.text {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			font-family: "Montserrat", sans-serif;
			text-transform: uppercase;
			color: #999999;
			img {
				margin-left: 10px;
				height: 30px;
			}
		}
		.contact {
			width: 100%;
			ul {
				display: flex;
				text-align: center;
				align-items: center;
				justify-content: center;
				li {
					position: relative;
					display: block;
					color: #666;
					font-size: 15px;
					height: 40px;
					width: 40px;
					background: #171515;
					line-height: 40px;
					border-radius: 50%;
					margin: 0px 10px;
					cursor: pointer;
					transition: 0.5s;
					a {
						height: 100%;
						width: 100%;
						color: #666;
						text-decoration: none;
						background: transparent;
						border-radius: 50%;
						padding: 12px;
					}
					&:before {
						position: absolute;
						content: "";
						top: 0;
						left: 0;
						height: inherit;
						width: inherit;
						border-radius: 50%;
						transform: scale(0.9);
						z-index: -1;
						transition: 0.5s;
					}
					&:nth-child(1):before {
						background: #0055ff;
					}
					&:nth-child(2):before {
						background: #1da1f2;
					}
					&:nth-child(3):before {
						background: #e1306c;
					}
					&:nth-child(4):before {
						background: #9649dd;
					}
					&:nth-child(5):before {
						background: #ff0000;
					}
					&:hover:before {
						filter: blur(3px);
						transform: scale(1.2);
					}
					&:nth-child(1):hover:before {
						box-shadow: 0 0 15px #0055ff;
					}
					&:nth-child(2):hover:before {
						box-shadow: 0 0 15px #1da1f2;
					}
					&:nth-child(3):hover:before {
						box-shadow: 0 0 15px #e1306c;
					}
					&:nth-child(4):hover:before {
						box-shadow: 0 0 15px #9649dd;
					}
					&:nth-child(5):hover:before {
						box-shadow: 0 0 15px #ff0000;
					}
					&:nth-child(1):hover {
						color: #004ce4;
						box-shadow: 0 0 15px #004ce4;
						text-shadow: 0 0 15px #004ce4;
					}
					&:nth-child(2):hover {
						color: #26a4f2;
						box-shadow: 0 0 15px #1da1f2;
						text-shadow: 0 0 15px #1da1f2;
					}
					&:nth-child(3):hover {
						color: #e23670;
						box-shadow: 0 0 15px #e1306c;
						text-shadow: 0 0 15px #e1306c;
					}
					&:nth-child(4):hover {
						color: #9649dd;
						box-shadow: 0 0 15px #9649dd;
						text-shadow: 0 0 15px #9649dd;
					}
					&:nth-child(5):hover {
						color: #ff1a1a;
						box-shadow: 0 0 15px #ff0000;
						text-shadow: 0 0 15px #ff0000;
					}
				}
			}
		}
	}
}
