<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Login and Signup-->
    <servlet>
        <servlet-name>checker</servlet-name>
        <servlet-class>Servlet.checker</servlet-class>
        <init-param>
            <param-name>Key</param-name>
            <param-value>USTTELETIGERSWIN</param-value>
        </init-param>
        <init-param>
            <param-name>usernotfound</param-name>
            <param-value>username does not exist</param-value>
        </init-param>
        <init-param>
            <param-name>wrongpass</param-name>
            <param-value>password is incorrect</param-value>
        </init-param>
        <init-param>
            <param-name>accnotfound</param-name>
            <param-value>username or password is incorrect</param-value>
        </init-param>
        <init-param>
            <param-name>captchaerror</param-name>
            <param-value>Incorrect Captcha</param-value>
        </init-param> 
    </servlet>
    <servlet-mapping>
        <servlet-name>checker</servlet-name>
        <url-pattern>/checker</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CaptchaGenerator</servlet-name>
        <servlet-class>Servlet.CaptchaGenerator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaptchaGenerator</servlet-name>
        <url-pattern>/CaptchaGenerator.jpg</url-pattern>
    </servlet-mapping>
    <!--Login and Signup-->
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Servlet.DatabaseUpdator</servlet-class>
        <init-param>
            <param-name>Key</param-name>
            <param-value>USTTELETIGERSWIN</param-value>
        </init-param>
        <init-param>
            <param-name>passmismatch</param-name>
            <param-value>Passwords do not match</param-value>
        </init-param>
        <init-param>
            <param-name>incorrectpass</param-name>
            <param-value>Incorrect Password</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <!--PDF-->
    <servlet>
        <servlet-name>Manager-PDF</servlet-name>
        <servlet-class>Servlet.ManagerPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manager-PDF</servlet-name>
        <url-pattern>/ManagerPDF</url-pattern>
    </servlet-mapping>
    <!--PDF-->
    <!--Exceptions-->
    <servlet>
        <servlet-name>Authentication_errJsp</servlet-name>
        <jsp-file>authenticate_err.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication_errJsp</servlet-name>
        <url-pattern>/authentication_error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NullVal_errJsp</servlet-name>
        <jsp-file>null_error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>NullVal_errJsp</servlet-name>
        <url-pattern>/null_error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorJsp</servlet-name>
        <jsp-file>404_err.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorJsp</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>Exceptions.AuthenticationException</exception-type>
        <location>/authentication_error</location>
    </error-page>
    <error-page>
        <exception-type>Exceptions.NullValueException</exception-type>
        <location>/null_error</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404_err.jsp</location>
    </error-page>
    <!--Exceptions-->
    <!--Webpages-->
    <servlet>
        <servlet-name>Manager Account</servlet-name>
        <jsp-file>account-manager.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manager Account</servlet-name>
        <url-pattern>/account_</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Player Account</servlet-name>
        <jsp-file>account-player.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Player Account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Manager Home</servlet-name>
        <jsp-file>home-manager.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manager Home</servlet-name>
        <url-pattern>/home_</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Player Home</servlet-name>
        <jsp-file>home-player.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Player Home</servlet-name>
        <url-pattern>/_home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Guest Home</servlet-name>
        <jsp-file>home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Guest Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Landing</servlet-name>
        <jsp-file>landing.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Landing</servlet-name>
        <url-pattern>/landing</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>login-register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Game Pick Guest</servlet-name>
        <jsp-file>gamepick.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Game Pick Guest</servlet-name>
        <url-pattern>/gamepick</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GamePick Player</servlet-name>
        <jsp-file>gamepick-player.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>GamePick Player</servlet-name>
        <url-pattern>/_gamepick</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GamePick Manager</servlet-name>
        <jsp-file>gamepick-manager.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>GamePick Manager</servlet-name>
        <url-pattern>/gamepick_</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Valorant Guest</servlet-name>
        <jsp-file>valorant-guest.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Valorant Guest</servlet-name>
        <url-pattern>/valorant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Valorant Player</servlet-name>
        <jsp-file>valorant-player.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Valorant Player</servlet-name>
        <url-pattern>/_valorant</url-pattern>
    </servlet-mapping> 
    <servlet>
        <servlet-name>Valorant Manager</servlet-name>
        <jsp-file>valorant-manager.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Valorant Manager</servlet-name>
        <url-pattern>/valorant_</url-pattern>
    </servlet-mapping>   
    <!--Webpages-->
    <!--Header-->
    <context-param>
        <param-name>header</param-name>
        <param-value>Teletigers' Member list</param-value>
    </context-param>
    <!--Header-->
    <!--Footer-->
    <context-param>
        <param-name>footer</param-name>
        <param-value>All rights reserved. 2021</param-value>
    </context-param>
    <!--Footer-->
    <!--Misc-->
    <welcome-file-list>
        <welcome-file>landing.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            2
        </session-timeout>
    </session-config>
    <!--Misc-->
</web-app>
