@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Lekton:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Antonio:wght@100&family=Montserrat:wght@100&family=Red+Hat+Display&family=Roboto+Mono:ital,wght@0,100;1,100&display=swap");
/* 
font-family: 'Jost', sans-serif;
font-family: 'Lekton', sans-serif; 
font-family: 'Roboto Mono', monospace;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Antonio', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: "Teko", sans-serif;
font-family: 'Bebas Neue', cursive;
*/
:root {
	--card-width: 400px;
	--card-height: 250px;
	--card-transition-duration: 800ms;
	--card-transition-easing: ease;
}

$primary: #202020;
$dark-primary: #303f9f;
$light-primary: #d4aa1d;
$text: #ffffff;
$primary-text: #ffffff;
$secondary-text: #b4b4b4;
$accent: #181818;

*,
body,
html {
	padding: 0;
	margin: 0;
}

body {
	width: auto;
	min-height: 100vh;
	background: url("../images/haha.png") no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	&.inactive {
		overflow: hidden;
	}
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #000000;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb {
	background-color: #494949;
}

.header_logo {
	height: 12%;
	position: fixed;
	top: 0;
	left: 3%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 999;
	img {
		cursor: default;
		height: 100%;
		width: 8em;
		-webkit-transition: 0.6s;
		transition: 0.6s;
		z-index: 999;
	}
}
.background {
	position: absolute;
	height: 100vh;
	width: 100%;
	background: #000000ee;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 10;

	h1 {
		font-family: "Teko", sans-serif;
		font-size: 15em;
		color: #dd9700;
		cursor: default;
		line-height: 110px;
		letter-spacing: 0.06em;
		-ms-transform: skewY(-2deg) !important;
		transform: skewY(-2deg) !important;
		font-style: italic;
		opacity: 1;
		transition: all 0.5s ease;
		transition-delay: 1.2s;
		&.active {
			opacity: 0;
		}
	}
}

.bg-1,
.bg-2 {
	position: absolute;
	z-index: 7;
	height: 100vh;
	width: 100%;
	background: #000000;
	transition: all 1s ease;
	transition-delay: 1.3s;
}
.bg-1 {
	bottom: 50%;
	&.active {
		bottom: 100%;
	}
	&.finished {
		transition-delay: 0s;
		background: transparent;
		display: none;
	}
}
.bg-2 {
	top: 50%;
	&.active {
		top: 100%;
	}
	&.finished {
		display: none;
	}
}

.main-container {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	background-color: transparent;
	.header-opt {
		position: fixed;
		width: 100%;
		top: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		list-style: none;
		height: 80px;
		z-index: 999;
		li {
			text-align: center;
			margin-right: 40px;
			a {
				text-align: center;
				font-family: "Antonio", sans-serif;
				text-transform: uppercase;
				font-size: 1.3em;
				color: #ffffff;
				text-decoration: none;
				transition: color 0.2s;
				&:hover {
					color: #ffc400;
				}
			}
		}
	}

	.container_1 {
		position: relative;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		background-color: transparent;
		z-index: 11;

		.cardList {
			position: absolute;
			width: calc(3 * var(--card-width));
			height: auto;
			.cards__wrapper {
				position: relative;
				width: 100%;
				height: 100%;
				perspective: 1000px;
				.card {
					--card-translateY-offset: 100vh;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%)
						translateX(var(--card-translateX-offset))
						translateY(var(--card-translateY-offset))
						rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
					display: inline-block;
					width: var(--card-width);
					height: var(--card-height);
					transition: transform var(--card-transition-duration)
						var(--card-transition-easing);

					user-select: none;
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: #0f0f0f;
						z-index: 1;
						transition: opacity var(--card-transition-duration)
							var(--card-transition-easing);
						opacity: calc(1 - var(--opacity));
					}
					.card__image {
						position: relative;
						width: 100%;
						height: 100%;
						img {
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					&.current--card {
						--current-card-rotation-offset: 0;
						--card-translateX-offset: 0;
						--card-rotation-offset: var(--current-card-rotation-offset);
						--card-scale-offset: 1.2;
						--opacity: 0.8;
					}
					&.previous--card {
						--card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
						--card-rotation-offset: 25deg;
					}
					&.next--card {
						--card-translateX-offset: calc(var(--card-width) * 1.1);
						--card-rotation-offset: -25deg;
					}
					&.previous--card,
					&.next--card {
						--card-scale-offset: 0.9;
						--opacity: 0.4;
					}
				}
			}
		}
		.app__bg {
			display: none;
		}

		.infoList {
			position: absolute;
			width: calc(2.4 * var(--card-width));
			height: var(--card-height);
			pointer-events: none;
			.info__wrapper {
				position: relative;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
				perspective: 1000px;
				transform-style: preserve-3d;
				.info {
					margin-bottom: calc(var(--card-height) / -30);
					margin-left: calc(var(--card-width) / 1.5);
					transform: translateZ(2rem);
					transition: transform var(--card-transition-duration)
						var(--card-transition-easing);
					.text {
						position: relative;
						font-family: "Montserrat";
						font-size: calc(
							0.5 * var(--card-width) * var(--text-size-offset, 0.1)
						);
						white-space: nowrap;
						color: #fff;
						width: fit-content;
					}
					.name,
					.location {
						text-transform: uppercase;
					}
					.location {
						font-weight: 800;
						--mg-left: 25px;
						--text-size-offset: 0.08;
						font-weight: 600;
						margin-left: var(--mg-left);
						margin-bottom: calc(var(--mg-left) / 2);
						padding-bottom: 0.8rem;
						&:before,
						&:after {
							content: "";
							position: absolute;
							background: #fff;
							left: 0%;
							transform: translate(calc(-1 * var(--mg-left)), -50%);
						}
						&:before {
							top: 30%;
							width: 20px;
							height: 5px;
						}
						&:after {
							bottom: 0;
							width: 40px;
							height: 2px;
						}
					}
					.description {
						--text-size-offset: 0.065;
						font-weight: 500;
					}
					&.current--info {
						opacity: 1;
						display: block;
					}
					&.previous--info,
					&.next--info {
						opacity: 0;
						display: none;
					}
				}
			}
		}
	}

	.container_2 {
		width: 100%;
		min-height: 100vh;
		background: #000000ee;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;

		header {
			width: 100%;
			background: $primary;
			color: $text;
			padding: 60px 0 20px 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h1 {
				font-family: "Antonio", sans-serif;
				margin-bottom: -83px;
				font-size: 2em;
				text-transform: uppercase;
			}

			p {
				font-family: "Lekton", sans-serif;

				font-weight: 800;
				color: #f5ab0c0c;
				margin-bottom: 0;
				font-size: 7em;
			}
		}

		.timeline {
			width: 70%;
			position: relative;
			font-family: "Montserrat", sans-serif;
			&::before {
				content: "";
				background: $light-primary;
				width: 5px;
				height: 94.5%;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
			h2 {
				color: #f7cd12;
			}
			p {
				color: #ffffff;
			}
			.timeline-item {
				width: 100%;
				margin-bottom: 70px;

				&:nth-child(even) {
					.timeline-content {
						float: right;
						padding: 40px 30px 10px 30px;

						.date {
							right: auto;
							left: 0;
						}
					}
				}

				&::after {
					content: "";
					display: block;
					clear: both;
				}

				.timeline-img-header {
					background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
						url("https://picsum.photos/1000/800/?random") center center
							no-repeat;
					background-size: cover;

					height: 200px;
					position: relative;
					margin-bottom: 20px;

					h2 {
						color: #f7cd12;
						position: absolute;
						bottom: 5px;
						left: 20px;
					}
				}
				.timeline-content {
					position: relative;
					width: 40%;
					padding: 10px 30px;
					background: #2b2b2b;
					box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);

					a {
						background: $primary;
						color: $text;
						padding: 8px 20px;
						text-transform: uppercase;
						font-size: 14px;
						margin-top: 10px;
						display: inline-block;
						border-radius: 2px;
						box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);

						&:hover,
						&:active,
						&:focus {
							background: darken($primary, 10%);
							color: $text;
							text-decoration: none;
						}
					}
					.date {
						background: $accent;
						display: inline-block;
						color: $text;
						padding: 7px;
						position: absolute;
						top: 0;
						right: 0;
					}
					blockquote {
						margin-top: 10px;
						color: #ffffff;
						border-left-color: $primary;
						padding: 0 20px;
					}
				}

				.timeline-img img {
					width: 50px;
					height: 50px;
					background: #181717;
					border-radius: 50%;
					position: absolute;
					left: 50%;
					margin-top: 0px;
					margin-left: -25px;
				}
				.timeline-card {
					padding: 0 !important;
					width: 44.8% !important;

					p {
						padding: 0 20px;
					}

					a {
						margin-bottom: 10px;
						margin-left: 20px;
					}
				}
			}
		}
	}
}

.container_3 {
	height: 13vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background: #2b2b2b;
	.text {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		font-family: "Montserrat", sans-serif;
		text-transform: uppercase;
		color: #999999;
		img {
			margin-left: 10px;
			height: 30px;
		}
	}
	.contact {
		width: 100%;
		ul {
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			li {
				position: relative;
				display: block;
				color: #666;
				font-size: 15px;
				height: 40px;
				width: 40px;
				background: #171515;
				line-height: 40px;
				border-radius: 50%;
				margin: 0px 10px;
				cursor: pointer;
				transition: 0.5s;
				a {
					height: 100%;
					width: 100%;
					color: #666;
					text-decoration: none;
					background: transparent;
					border-radius: 50%;
					padding: 12px;
				}
				&:before {
					position: absolute;
					content: "";
					top: 0;
					left: 0;
					height: inherit;
					width: inherit;
					border-radius: 50%;
					transform: scale(0.9);
					z-index: -1;
					transition: 0.5s;
				}
				&:nth-child(1):before {
					background: #0055ff;
				}
				&:nth-child(2):before {
					background: #1da1f2;
				}
				&:nth-child(3):before {
					background: #e1306c;
				}
				&:nth-child(4):before {
					background: #9649dd;
				}
				&:nth-child(5):before {
					background: #ff0000;
				}
				&:hover:before {
					filter: blur(3px);
					transform: scale(1.2);
				}
				&:nth-child(1):hover:before {
					box-shadow: 0 0 15px #0055ff;
				}
				&:nth-child(2):hover:before {
					box-shadow: 0 0 15px #1da1f2;
				}
				&:nth-child(3):hover:before {
					box-shadow: 0 0 15px #e1306c;
				}
				&:nth-child(4):hover:before {
					box-shadow: 0 0 15px #9649dd;
				}
				&:nth-child(5):hover:before {
					box-shadow: 0 0 15px #ff0000;
				}
				&:nth-child(1):hover {
					color: #004ce4;
					box-shadow: 0 0 15px #004ce4;
					text-shadow: 0 0 15px #004ce4;
				}
				&:nth-child(2):hover {
					color: #26a4f2;
					box-shadow: 0 0 15px #1da1f2;
					text-shadow: 0 0 15px #1da1f2;
				}
				&:nth-child(3):hover {
					color: #e23670;
					box-shadow: 0 0 15px #e1306c;
					text-shadow: 0 0 15px #e1306c;
				}
				&:nth-child(4):hover {
					color: #9649dd;
					box-shadow: 0 0 15px #9649dd;
					text-shadow: 0 0 15px #9649dd;
				}
				&:nth-child(5):hover {
					color: #ff1a1a;
					box-shadow: 0 0 15px #ff0000;
					text-shadow: 0 0 15px #ff0000;
				}
			}
		}
	}
}

@media (max-width: 321px) {
	:root {
		--card-width: 200px;
		--card-height: 300px;
		--card-transition-duration: 800ms;
		--card-transition-easing: ease;
	}
	.cardList {
		position: absolute;
		width: calc(1.3 * var(--card-width));
		height: auto;
	}
}
