@import url("https://fonts.googleapis.com/css?family=Allura|Josefin+Sans");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lekton:ital@1&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Allura|Josefin+Sans");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background: #232023;
  height: 100vh;
  overflow: hidden;
}

.header_logo a {
  position: absolute;
  cursor: default;
  text-decoration: none;
  top: 3.4%;
  left: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #fb2274;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 999;
}

.header_logo a img {
  width: 128px;
}

#container {
  position: absolute;
  /*top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border-radius: 10px;*/
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("images/p404.png") #111111;
  -webkit-box-shadow: 0 6px 20px #00ffff;
          box-shadow: 0 6px 20px #00ffff;
}

#container .content {
  max-width: 1000px;
  text-align: center;
}

#container .content h2 {
  font-size: 13vw;
  color: #ffffff;
  line-height: 1em;
}

#container .content2 {
  max-width: 600px;
  text-align: center;
}

#container .content2 h4 {
  font-family: "Lekton", sans-serif;
  position: relative;
  font-size: 1.3em;
  margin-bottom: 20px;
  color: #fc7c13;
  display: inline-block;
}

#container .content2 span {
  font-family: "Lekton", sans-serif;
  position: relative;
  font-size: 1em;
  color: #f8ae23;
  display: inline-block;
}

#container .content2 p {
  color: white;
  font-size: 10px;
  margin-bottom: 30px;
}

#container .content2 button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 10px;
  color: white;
  cursor: pointer;
}

#container .content2 a {
  position: relative;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 40px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
}

.show {
  display: none;
}

.hide {
  display: block;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #030303;
  padding: 20px 0;
  opacity: 0.5;
}

.footer a {
  text-decoration: none;
  font-family: "Lekton", sans-serif;
  color: #fff;
}
