@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Source+Code+Pro:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lekton:ital@1&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Allura|Josefin+Sans");
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #161616;
}

#main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7%;
}

.header_logo a {
  position: absolute;
  cursor: default;
  text-decoration: none;
  top: 3.4%;
  left: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fb2274;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header_logo a img {
  width: 128px;
}

section {
  margin-left: 3vmin;
}

h1 {
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-size: 10vmin !important;
  line-height: 10vmin !important;
  cursor: default;
}

h2 {
  color: #f3c74d;
  font-size: 5vmin;
  font-family: "Lekton", sans-serif;
}

h3 {
  color: #da6200;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 3.5%;
}

section a {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 40px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
}

i {
  font-size: 55px;
  margin: 16px;
  color: #fab31b;
}

.container {
  position: absolute;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-color: #181818 !important;
  border: 9px solid #f06e23 !important;
  overflow: hidden;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

span::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #f06e23 !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

span::after {
  content: "";
  position: absolute;
  left: 30px;
  top: 20px;
  width: 36px;
  height: 12px;
  background-color: #f06e23 !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0 4px 4px 0;
}

.box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* animation */
@-webkit-keyframes rowup-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

@keyframes rowup-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

@-webkit-keyframes rowup-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

@keyframes rowup-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #181818;
}

i {
  font-size: 55px;
  margin: 16px;
  color: #e0960d;
}

.container {
  position: relative;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-color: #fff;
  border: 9px solid #dee1e4;
  overflow: hidden;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

span::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #dee1e4;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

span::after {
  content: "";
  position: absolute;
  left: 30px;
  top: 20px;
  width: 36px;
  height: 12px;
  background-color: #dee1e4;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0 4px 4px 0;
}

.box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* animation */
@-webkit-keyframes rowup-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

@keyframes rowup-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

@-webkit-keyframes rowup-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

@keyframes rowup-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

@-webkit-keyframes cloud-loop {
  0% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes cloud-loop {
  0% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.box-1 {
  -webkit-animation: 1s rowup-1 linear infinite normal;
  animation: 1s rowup-1 linear infinite normal;
}

.box-2 {
  -webkit-animation: 1s rowup-2 linear infinite normal;
  animation: 1s rowup-2 linear infinite normal;
}

.center {
  -webkit-animation-name: cloud-loop;
  animation-name: cloud-loop;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

span {
  position: relative;
  left: 112px;
  top: 60px;
  -webkit-animation-name: cloud-loop;
  animation-name: cloud-loop;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.container::before {
  -webkit-animation-name: shadow-loop;
  animation-name: shadow-loop;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

.box-1 {
  -webkit-animation: 1s rowup-1 linear infinite normal;
  animation: 1s rowup-1 linear infinite normal;
}

.box-2 {
  -webkit-animation: 1s rowup-2 linear infinite normal;
  animation: 1s rowup-2 linear infinite normal;
}

.center {
  -webkit-animation-name: cloud-loop;
  animation-name: cloud-loop;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

span {
  position: relative;
  left: 112px;
  top: 60px;
  -webkit-animation-name: cloud-loop;
  animation-name: cloud-loop;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

#footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #2b2b2b;
  padding: 20px 0;
  opacity: 0.5;
}

#footer a {
  text-decoration: none;
  font-family: "Lekton", sans-serif;
  color: #fff;
}
/*# sourceMappingURL=null_err_style.css.map */