@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Source+Code+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lekton:ital@1&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Open+Sans+Condensed:wght@300&family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

* {
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  margin            : 0;
  padding           : 0;
}

body {
  font-family     : 'Roboto Mono', monospace;
  height          : 100vh;
  background-color: #0f0f0f;

}

.header_logo a {
  position       : absolute;
  cursor         : default;
  text-decoration: none;
  top            : 2%;
  left           : 2%;
  align-items    : center;
  font-family    : 'Roboto Mono', monospace;
  font-size      : 32px;
  font-weight    : 800;
  letter-spacing : 1px;
  color          : #fb2274;
  transition     : 0.6s;
  z-index        : 999;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height : 100vh;
}

.left {
  overflow                   : hidden;
  display                    : -webkit-box;
  display                    : -ms-flexbox;
  display                    : flex;
  -ms-flex-wrap              : wrap;
  flex-wrap                  : wrap;
  -webkit-box-orient         : vertical;
  -webkit-box-direction      : normal;
  -ms-flex-direction         : column;
  flex-direction             : column;
  -webkit-box-pack           : center;
  -ms-flex-pack              : center;
  justify-content            : center;
  -webkit-animation-name     : left;
  animation-name             : left;
  -webkit-animation-duration : 1s;
  animation-duration         : 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
  -webkit-animation-delay    : 1s;
  animation-delay            : 1s;
  background-color           : #0f0f0f;
}


.right {
  -webkit-box-flex   : 1;
  -ms-flex           : 1;
  flex               : 1;
  background-color   : black;
  -webkit-transition : 1s;
  transition         : 1s;
  background-image   : url('images/drop.jpg');
  background-size    : cover;
  background-repeat  : no-repeat;
  background-position: center;
}

#mid {
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 100%;
  height         : 100%;
  font-family    : Impact, Charcoal, sans-serif;
  cursor         : default;
  -ms-transform  : skewY(-4deg) !important;
  transform      : skewY(-4deg) !important;
  margin         : 0;
  text-align     : center;
}

.mid-sect{
  display: flex;
}

#mid h1 {
  font-size     : 9vw;
  color         : #79eee8;
  letter-spacing: -0.16em;
  transition    : 1680ms;
}

#mid h1.active {
  font-size     : 9vw;
  color         : #79eee8;
  letter-spacing: normal;
}

.mid span {
  font-size                : 4vw;
  -webkit-text-fill-color  : transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fa65e6;
  opacity                  : 1;
  text-transform           : uppercase;

}

.header h2 {
  margin-bottom: 20px;
  color : #5f55be;
}

.header h4 {
  margin-top : 10px;
  font-weight: normal;
  font-size  : 15px;
  color      : #a7a7a7;
}

.form {
  max-width            : 90%;
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction   : column;
  flex-direction       : column;
}

.form p,
a {
  color          : #9c9c9c;
  font-size      : 14px;
  text-decoration: none;
}

.form p {
  text-align: left;
  margin-top: 10px;
}

.form-field {
  height            : 46px;
  padding           : 0 16px;
  border            : 2px solid #494848;
  border-radius     : 4px;
  font-family       : "Rubik", sans-serif;
  outline           : 0;
  -webkit-transition: 0.2s;
  transition        : 0.2s;
  background-color  : #3f3f3f;
  color             : #ffffff;
}

.form-field:focus {
  border-color: #f89757;
}

input[type=submit] {
  align-self    : flex-end;
  outline       : none;
  padding       : 12px 10px;
  width         : 100px;
  border        : 3px solid;
  border-color  : #00d3f8;
  border-radius : 25px;
  margin-top    : 10px;
  color         : #ffffff;
  background    : transparent;
  letter-spacing: 1px;
  font-family   : "Rubik", sans-serif;
  text-transform: uppercase;
}

.footer {
  position  : fixed;
  width     : 100%;
  bottom    : 0;
  left      : 0;
  text-align: center;
  background: #281258;
  padding   : 20px 0;
}

.footer a {
  text-decoration: none;
  font-family    : 'Josefin Sans', sans-serif;
  color          : #fff;
  cursor         : default;
}

@-webkit-keyframes left {
  0% {
    opacity: 0;
    width  : 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width  : 440px;
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width  : 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width  : 440px;
  }
}

@media(max-width: 850px) {
  #mid {
    opacity   : 0;
    transition: 0.5s;
  }

  .header_logo a {
    transform: translateX(20px) !important;
  }
}

@media(max-width: 800px) {
  #mid {
    display   : none;
    transition: 0.5s;
  }
}