@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital@1&display=swap');

body {

	background-color:#161616;
	overflow-x      : hidden;
        height: 100vh;
        
}

.html#blurr.active{
    overflow-y: hidden;
}

* {
	margin         : 0;
	box-sizing     : border-box;
	outline        : none;
	list-style     : none;
	text-decoration: none;
	font-family    : 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    
    background: #0f0f0f;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #27FDF5;
}

#popup {
  position        : fixed;
  text-align      : center;
  top             : 40%;
  left            : 50%;
  transform       : translate(-50%, -50%);
  width           : 580px;
  padding         : 50px;
  box-shadow      : 0 5px 30px #7c2d9e;
  background-color: #232023;
  visibility      : hidden;
  opacity         : 0;
  transition      : 0.9s;
  border-radius   : 5px;
}

#popup h2 {
  font-size    : 23px;
  margin-bottom: 20px;
  color        : aqua;
  font-family  : 'Lekton', sans-serif;
}

#popup p {
  color        : whitesmoke;
  margin-bottom: 20px;
  font-family  : 'Roboto Mono', monospace;
}

#popup a {
  display        : flex;
  align-items    : center;
  justify-content: center;
  color          : #ff88af;
  padding        : 4px;
  width          : 100px;
  margin         : 0 auto;
  text-decoration: none;
  border-style   : solid;
  border-radius  : 24px;
  text-transform : uppercase;
  font-family    : 'Roboto Mono', monospace;
}

#popup.active {
  top       : 50%;
  visibility: visible;
  opacity   : 1;
  transition: 0.4s;
}

h1.team-title {
	margin-bottom   : 30px;
	color           : #27fdf5;
	font-family     : 'Josefin Sans', sans-serif;
	text-transform  : uppercase;
	font-size       : 38px;
	word-spacing    : 2px;
	letter-spacing  : 2px;
	background-color: transparent;
	overflow        : hidden;
	transition      : 0.2s
}

p {
	margin-bottom   : 15px;
	font-size       : 14px;
	line-height     : 20px;
	color           : #FA86C4;
	background-color: transparent;
}

.team-desc{
	font-size: 1.4em;
	font-family  : 'Lekton', sans-serif;
}

.quote{
	font-family  : 'Lekton', sans-serif;
}

.main_container {
	position        : relative;
	background-color: #161616;
        transition: 0.6s;
        
}

.main_container#blur.active {
    overflow-y: hidden;
  filter        : blur(20px);
  pointer-events: none;
  user-select   : none;
  
  
}

div1 {
	width          : 100%;
	position       : fixed;
	display        : inline-flex;
	justify-content: space-around;
	align-items    : center;
	background     : transparent;
	padding        : 20px;
	z-index        : 4;
	transition     : 0.6s;
}

div1.sticky {
	width     : 100%;
	padding   : 15px;
	background: #ed2db1;
}

div1.sticky .logo a,
div1.sticky ul li a,
div1.sticky .toggle {
	color: #27FDF5;
}
div1.sticky ul li:last-child input[type=submit]{
	color: #ed2db1;
	border-style: solid;
	border-radius: 5px;
	border-color: #27FDF5;
	padding: 8px;
	background-color: #27FDF5;
        transition: 0.4s;
}
.logo a {
	align-items   : left;
	font-family   : 'Roboto Mono', monospace;
	font-size     : 32px;
	font-weight   : 800;
	letter-spacing: 1px;
	color         : #fb2274;
	transition    : 0.6s;

}

.toggle {
	color     : #fb2274;
	transition: 0.6s;
}

.navbar_items ul {
	align-items        : center;
	display            : flex;
	background-color   : transparent;
}

.navbar_items ul li {
	font-weight     : 700;
	margin          : 0 10px;
	background-color: transparent;
}

.navbar_items ul li a {
	text-transform  : uppercase;
	background-color: transparent;
	color           : #fb2274;
	transition      : 0.6s;
}

.navbar_items ul li:last-child input[type=submit] {
	color: #27FDF5;
	border-style: solid;
	border-radius: 5px;
	border-color: #ed2db1;
	padding: 8px;
	background-color: #ed2db1;
        text-transform  : uppercase;
        font-weight     : 700;
        transition: 0.4s;
        cursor:pointer;

}

.team {
	text-align: center;
	padding         : 8.4em 15% 10% 15%;
	justify-content : center;
	font-family     : 'Josefin Sans', sans-serif;
	background-color: #161616;
	color           : #27fdf5;
	transition      : 2.5s;
}

.container {
	position       : relative;
	display        : flex;
	flex-wrap      : wrap;
	justify-content: space-evenly;
}

.container .box {
	position  : relative;
	width     : 280px;
	height    : 400px;
	margin    : 20px 0;
	box-sizing: border-box;
	overflow  : hidden;
}

.container .box .imgBx {
	position        : absolute;
	top             : 0;
	left            : 0;
	width           : 100%;
	height          : 100%;
	background      : #000;
	clip-path       : circle(400px at center 100px);
	transition      : 0.5s;
	transition-delay: 0.5s;
}

.container .box:hover .imgBx {
	clip-path       : circle(80px at center 100px);
	transition-delay: 0s;
}

.container .box .imgBx img {
	position  : absolute;
	top       : 0;
	left      : 0;
	width     : 100%;
	height    : 100%;
	object-fit: cover;
}

.container .box .content {
	position  : absolute;
	left      : 0;
	bottom    : 0;
	width     : 100%;
	height    : 55%;
	padding   : 20px;
	box-sizing: border-box;
	text-align: center;
}

.container .box .content h2 {
	margin-bottom: 20px;
	margin-top   : 10px;
	color        : #27fdf5;
	padding      : 0;
}

.container .box .content a {
	text-decoration: none;
	background     : #000;
	color          : #fff;
	padding        : 5px;
	display        : inline-block;
}

.container .box .content h2,
.container .box .content p,
.container .box .content a {
	opacity   : 0;
	transition: 0.5s;
	transform : translateY(20px);
}

.container .box:hover .content h2 {
	opacity         : 1;
	transform       : translateY(0);
	transition-delay: 0.5s
}

.container .box:hover .content p {
	opacity         : 1;
	transform       : translateY(0);
	transition-delay: 0.7s
}

.container .box:hover .content a {
	opacity         : 1;
	transform       : translateY(0);
	transition-delay: 0.9s
}

.footer {
        position  : fixed;
        bottom    : 0;
	width     : 100%;
	text-align: center;
	background: #281258;
	padding   : 20px 0;
        z-index   : 999;
        
}

.footer a {
	color: #ffffff;
}

/****************************************
|            MEDIA QUERIES              |
****************************************/

@media (max-width: 800px) {

        #popup{
            width:500px;
        }
}

@media (max-width: 620px) {

	
        #popup{
            width:500px;
        }
}

@media (max-width: 500px) {

	
        #popup{
            width:360px;
        }
}

@media (max-width: 400px) {

	div1.sticky .logo a {
		padding-right: 34px;
	}
}

@media (max-width: 350px) {

        #popup{
            width:270px;
        }
}
